<h2><%= @song.header %></h2>
<% if @song.subtitle.present? %>
  <h3><%= @song.subtitle %></h3>
<% end %>

<p>
<%= @song.body %>
</p>

<ul>
  <li><%= link_to "Edit", edit_song_path(@song) %></li>
  <li><%= link_to "Destroy", song_path(@song), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
